button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

select {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 16px;
}

input[type="number"] {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 16px;
}

div {
  margin: 20px 0;
  text-align: center;
  font-size: 16px;
}
